*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

html,body {
    scroll-behavior: smooth;
}

/* titulo */
.titulo{
    background-color: #333;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 8px;
    gap: 10px;
    font-size: 20px;
    color: #fff;
}
.titulo img{
    width: 40px;
    border-radius: 50%;
}
@media screen and (max-width:500px) {
    .titulo{
        font-size: 13px;
        align-items: center;
    }
    .titulo img{
        width: 35px;
    }
}
/* titulo */

/* menu nav */
nav{
    display: flex;
    background-color: #ddd;
    height: 7.3vh;
    align-items: center;
    gap: 20px;
    width: 100vw;
    
}
nav a{
    margin: 0;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    padding: 10px ;
    transition: 2s;
    
    
    
}
nav a:hover{
    background-color: #333;
    color: #fff;
    border-bottom: 4px solid red;
}
@media screen and (max-width:500px) {
    nav a{
        display: none;
    }
}
/* menu nav */

/* menu-mobile */

.dropdown{
    position: absolute;
    top: 8%;
    left: 2%;
    display: none;
}
.dropdown i{
    font-size: 32px;
    align-items: center;
   
}
@media screen and (max-width:500px) {
    .dropdown{
        display: block;
    }
 
}
/* menu-mobile */

/* sub-menu */
.sub-menu{
 position: absolute;
 top: 12%;
 z-index: 1;
 

 
 }
.sub-menu li{
    margin: 15px 0;
    padding: 17px;
    font-size: 20px;
   
}
.sub-menu ul{
    background-color: #000000b9;
    width: 100vw;
    padding: 0;
    transition: 2s ;
    list-style: none;
    display: none;
}
.sub-menu a{
    text-decoration: none;
    color: white;
}
.sub-menu li:hover{
    background-color: #8683837a;
}
.sub-menu a:hover{
    color: #000;
    font-weight: bold;
}
@media screen and (max-width:500px) {
    .sub-menu{
        display: block;
    }
}

/* sub-menu */

/* foto de fundo */
.foto-fundo{
    position: absolute;
    left: 0;
}
.foto-fundo img{
    width: 100vw;
}



@media screen and (max-width:500px) {
    .foto-fundo img{
        width: 100vw;
        height: 28.7vh;
        
    }
}
.fundo-de-filmes{
    position: absolute;
    top: 119%;
}

.fundo-de-filmes img{
   width: 100vw;
   height: 100vh;
}
.filmes{
 position: absolute;
 left: 0;
 display: flex;
 justify-content: space-around;
 top: 162%;
 padding: 0 10%;
 width: 100%;
 
}
.filmes h2{
    position: absolute;
    left: 50%;
    top: -30%;
    transform: translate(-50%);
    color: #fff;
    
}
.filmes img{
    margin: 10px;
    width: 140px;
    height: 140px;
    border: 2px solid #fff;
    border-radius: 12px;
   
    
}
.filmes a{
    text-decoration: none;
    color: #fff;
    
}
@media screen and (min-width:500px) {
    .filmes img:hover{
        transition: 1s ease ;
        padding: 5%;
        
       }
}
@media screen and (max-width:500px) {
    .fundo-de-filmes{
        position: absolute;
        top: 43%;
    }
    
    .fundo-de-filmes img {
        display: none;
    }
    
    .filmes{
        position: absolute;
        top: 50%;
        left: 0;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: #000;
        padding: auto 0;
    }
    
    .filmes img{
        margin: 15px;
        width: 100%;
        height: 100%;
        position: relative;
        left: -5%;
    }
    
    .filmes h2{
        position: absolute;
        top: -1%;
        white-space: nowrap;
        font-size: 18px;
        background-color: #fff;
        color: #000;
        width: 100%;
        padding: 15px;
    }

    .filmes a{
        padding-bottom: 4%;
    }
   
}
/* foto de fubndo */

/* sobre */
.sobre{
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    padding:5% 2%;
    gap: 20px;
    position: absolute;
    top: 225%;
    left: 1%;
    width: 97vw;
    
}

.sobre h2{
    position: absolute;
    left: 50%;
    top: 2%;
    color: #000;
    
}
.sobre img{
    width: 400px;
    padding: 0 10px;
}
.sobre p{
    display: flex;
    justify-content: center;
    text-align: left;
    font-style: italic;
    color: #333;
}
.sobre h3{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%);
}
@media screen and (max-width:500px) {
    .sobre{
        position: absolute;
        top: 600%;
        left: 0;
        display: block;
        width: 100%;
        padding: 18% 5%;
        }
        .sobre img{
            width: 100%;
        }
        .sobre h2{
            position: absolute;
            top: 0.8%;
           left: 40%;
           padding: 2% 0;
        }
        .sobre h3{
            padding: 8%;
            white-space: nowrap;
        }
}


/* sobre */

/* fotos do site */
.galeria{
    position: absolute;
    background-color: #ddd;
    top: 310%;
    padding: 4% 0;
    width: 100%;
}
.galeria img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 4px solid;
    border-radius: 10px;
}

@media screen and (max-width:500px){
 .galeria{
    position: absolute;
    top: 800%;
    padding: 2% 0;
 } 
 .galeria h2{
    padding: 2%;
 }

}


/* fotos do site */